@import "/scss/variables";

.step {    
    & .title {
        font-size: 1.5em;
        color: $marine-blue;

        margin-bottom: 16px;
    }

    & .description {
        font-size: 1.1em;
        font-weight: 400;
        line-height: 1.5em;
        color: $cool-gray;

        margin-bottom: 25px;
    }
}