@import "/scss/variables";

.textInput {
    display: flex;
    flex-direction: column;
    gap: 4px;

    & .label {
        font-size: 0.7em;
        font-weight: 400;
        color: $marine-blue;

        & .error {
            float: right;

            font-weight: 500;
            color: $strawberry-red;
        }
    }

    & .input {
        padding: 10px;

        border: 1px solid $light-gray;
        border-radius: 5px;

        font-weight: 500;
        color: $marine-blue;

        &.error {
            border-color: $strawberry-red;

            &::placeholder {
                color: $cool-gray;
            }
        }

        &:active {
            border-color: $purplish-blue;
        }

        &::placeholder {
            color: $cool-gray;
        }
    }
}

@media screen and (min-width: $desktop-width) {
    .textInput {
        gap: 10px;

        & .label {
            font-size: 0.8em;
        }

        & .input {
            padding: 16px;

            border-radius: 10px;
        }
    }
}
