@import "/scss/variables";

.steps {
    width: 95%;

    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);

    background-color: white;

    padding: 32px 25px;

    border-radius: 10px;

    box-shadow: 0 10px 15px rgba($color: $pastel-blue, $alpha: 20%);
}