@import "/scss/variables";

.stepMenu {
    aspect-ratio: 2.2/1;
    width: 100%;

    list-style-type: none;

    position: absolute;
    top: 0;

    background-image: url("/imgs/bg-sidebar-mobile.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    gap: 16px;
    justify-content: center;

    padding-top: 32px;
}

@media screen and (min-width: $desktop-width) {
    .stepMenu {
        aspect-ratio: unset;
        height: 100%;

        position: inherit;

        background-image: url("/imgs/bg-sidebar-desktop.svg");

        border-radius: 10px;

        padding: 40px 32px;

        flex-direction: column;
        gap: 32px;
        justify-content: flex-start;

        grid-column: 1/2;
        grid-row: 1/3;
    }
}
