@import "/scss/variables";

.step2 {
    & .content {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    & .plan {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
}

@media screen and (min-width: $desktop-width) {
    .step2 {
        & .content {
            gap: 30px;
        }

        & .plan {
            flex-direction: row;
            gap: 18px;
        }
    }
}
