@import "/scss/variables";

.app {
    min-height: 100vh;
    height: 100%;

    background-color: $magnolia;

    & > .container {
        display: flex;
        flex-direction: column;
        gap: 25px;
        justify-content: space-between;
        align-items: center;

        position: relative;

        padding-top: 85px;
    }
}

@media screen and (min-width: $desktop-width) {
    .app {
        min-height: 625px;
        height: 100vh;

        display: flex;
        justify-content: center;
        align-items: center;

        & > .container {
            width: 900px;
            height: 600px;

            padding: 12px 116px 12px 12px;

            border-radius: 10px;

            display: grid;
            gap: 0 100px;
            grid-template-columns: 275px 1fr;
            grid-template-rows: 490px 1fr;

            background-color: $white;

            box-shadow: 0 0 30px rgba($color: $pastel-blue, $alpha: 30%);
        }
    }
}
