.app {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: space-between;
    align-items: center;

    position: relative;

    padding-top: 85px;
}
